<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>О нас</title>
    <link rel="stylesheet" href={% static "css/stylegrid3.css"%}>
</head>

<body>
	<div class = "navigation">
        <div class = "logo">
            <object id = "logo" type="image/svg+xml" data={% static "res/logo.svg"%} width = 100%>
			    <img src={% static "res/logo.png"%} alt="Фолбэк">
		    </object>
        </div>
        <div class = "info">
            г. Самара, пр. Ленина, д. 1<br>
            <p>+7 (960) 833-44-55</p>
        </div>
        <div class = "menu"> 
                <div class = "li" onclick="location.href='#';" style="cursor:pointer;">ГЛАВНАЯ</div>
                <div class = "li" onclick="location.href='#';" style="cursor:pointer;">ЛОГОСАД</div>
                <div class = "li" onclick="location.href='#';" style="cursor:pointer;">ЗАНЯТИЯ</div>
                <div class = "li" onclick="location.href='#';" style="cursor:pointer;">КОНТАКТЫ</div>
        </div>
    </div>

    <div class = "body">

        <div class = "headers">
            <h1>О НАС</h1> <hr>
        </div>

        <img src= {% static "res/kids.png"%} alt="" width = "100%" height="500%">

        <div class = "alt">
            Ведущий специалист и руководитель клуба <br>
            Любовь Александровна Борисова
        </div>

        <div class = "content1">
            <div>Вы находитесь на сайте ЛОГОклуба. 
                Наш клуб работает с детьми и подростками, имеющими трудности в речевом развитии, общении, эмоциональной сфере. </div>
            <p>Специалисты нашего клуба поддерживают идею о том, что многие трудности в развитии можно преодолеть, только активно используя три типа ресурсов:</p>
            <p id="p2">Мы уверены, что у ребенка все получается благодаря нашей поддержке, активному включению в коррекционный процесс обучения, постоянному закреплению материала дома.</p>
            <p id="p3">Нам крайне важно, чтобы вся семья была объединена общей целью, чтобы к ребенку предъявлялись одинаковые требования со стороны каждого члена семьи. Эти требования на начальном этапе задает специалист и они небезосновательны, поэтому мы очень надеемся, что вы будете доверять нашим сотрудникам.</p>
        </div>
        <div id = "pic1">
            <object type="image/svg+xml" data={% static "res/pic1.svg"%} width="500%">
			    <img src={% static "res/pic1.png"%} alt="Фолбэк">
		    </object>
        </div>

        <div class = "headers" id="head2">
            <h1 id="h1">НАШИ ПРАВИЛА</h1> <hr id="hr">
        </div>

        <div class="square">
            При первом посещении клуба необходимо заполнить договор у администратора<br>
            <br>
            Клуб оставляет за собой право отказа в посещении разового занятия в группе при ее максимальной наполненности. Приоритетом в данном случае пользуются абонементы.<br>
            <br>
            Пропущенные, без заблаговременного предупреждения, занятия считаются прогулом и не пересчитываются. При предупреждении не позднее чем за день до занятия, его стоимость может быть компенсирована в размере 40%.<br>
            <br>
            Приобретая абонемент, вы оплачиваете место, которое закрепляется за конкретным ребенком в конкретной группе на конкретное время, независимо от того, ходите вы на занятия или нет.<br>
            <br>
            На индивидуальных занятиях время не сохраняется более, чем на две недели.<br>
            <br>
            Если занятие отменяется по вине развивающего клуба, администрация обязуется своевременно предупредить вас, стоимость этих занятий компенсируется в размере 100%  или назначается отдельное время для отработки занятия в полном объеме.<br>
            <br>
            Материалы для личного пользования своего ребенка (например, индивидуальные зонды) родители приобретают дополнительно.<br>
            <br>
            Для достижения наилучших результатов сообщайте педагогу индивидуальные особенности ребенка, черты его характера и предпочтения.<br>
            <br>
            Специалисты клуба имеют право не допустить ребенка на занятия при наличии видимых признаков заболевания. <br>
            <br>
            Дети раннего возраста (до 3-х лет) посещают занятия только совместно с сопровождающими. Исключение составляют рабочие моменты, в которых ребенок неэффективно занимается в их присутствии.<br>
            <br>
            Дети старше 3-х лет занимаются самостоятельно.<br>
            <br>
            Если поведение ребенка препятствует проведению занятий, родители обязаны незамедлительно забрать его с занятий.<br>
            <br>
            Пожалуйста, не пользуйтесь мобильными телефонами на занятии, это отвлекает детей.<br>
            <br>
            Ведение фото и/или видео съемки во время занятий допускается только с разрешения всех родителей детей, присутствующих на занятии развивающего клуба. <br>
            <br>
            Не разрешено приносить на занятия жевательные резинки, конфеты, печенье и прочие продукты питания. Вход с едой и напитками в игровые комнаты и комнаты для занятий не допускается.<br>
            <br>
            Помимо этого в целях безопасности просим вас проследить, чтобы в карманах ребенка не было острых и мелких предметов.<br>
            <br>
            Просим вас бережно относиться к имуществу клуба, не ломать и не забирать игрушки домой.<br>
            <br>
            Пожалуйста, своевременно сообщайте администрации клуба об изменении вашего контактного телефона, чтобы мы могли связаться с вами в форс-мажорных ситуациях, в случае отмены, переноса занятий и прочих непредвиденных ситуациях.<br>
            <br>
            Спорные и конфликтные ситуации нужно разрешать в отсутствии детей. Если вы не смогли решить какой-либо вопрос с администрацией клуба, обратитесь к руководству.<br>
            <br>
            Развивающий клуб является частной организацией, администрация оставляет за собой право отказать клиенту в посещении без объяснения причин.<br>
            <br>
            Посетители несут персональную ответственность за ценные вещи, принесенные и/или оставленные в клубе.<br>
            <br>
            Оплачивая услуги, клиент автоматически соглашается с правилами нашего развивающего клуба и обязуется их исполнять.





        </div>

    </div>
    
    
    <div class="footer">
        <hr> <p>Мы делаем свою работу на „отлично”!</p> <hr id="right">
        <div class="finfo">
            <div class = "menu"> 
                    <div class = "li" onclick="location.href='#';" style="cursor:pointer;">КОНТАКТЫ</div>
                    <div class = "li" onclick="location.href='#';" style="cursor:pointer;">ЗАНЯТИЯ</div>
                    <div class = "li" onclick="location.href='#';" style="cursor:pointer;">ЛОГОСАД</div>
                    <div class = "li" onclick="location.href='#';" style="cursor:pointer;">О КЛУБЕ</div>
            </div>
            <form>
                <fieldset>
                <input type="text" placeholder = "ИМЯ" name = "name" required>
                <input type="email" placeholder = "E-MAIL" name = "mail" required>
                <input type="text" placeholder = "ТЕЛЕФОН" name = "tel" required>
                <select required name = "type">
                    <option selected>ВИД ЗАНЯТИЙ</option>
                    <option> </option>
                </select>
                <input type="submit" name = "send" value="ОТПРАВИТЬ"> 
            </fieldset>
            </form>
            <div class = "info">
                <p>г. Самара, пр. Ленина, д. 1<br>
                +7 (960) 833-44-55<br>
                logoclub63@yandex.ru<br>
                <a href="#"><object class = "link" type="image/svg+xml" data={% static "res/youtube.svg"%} width = 10%>
                    <img src={% static "res/youtube.png"%} alt="Фолбэк">
                </object></a>
                <a href="#"><object class="link" type="image/svg+xml" data= {% static "res/vk.svg"%} width = 10%>
                    <img src={% static "res/vk.png"%} alt="Фолбэк">
                </object></a>
                <a href="#"><object class="link" type="image/svg+xml" data={% static "res/watsap.svg"%} width = 7%>
                    <img src={% static "res/watsap.png"%} alt="Фолбэк">
                </object></a></p>
            </div>
        </div>
    </div>

</body>
</html>